body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #575757;
}
.option{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 30px;
    background-color: #575757;
    color: white;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.operations{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.row{
    display: flex;
    gap: 8px;
}
.calculator{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    width: fit-content;
    padding: 16px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    
}
.display{
    display: flex;
    padding: 16px;
    width: auto;
    height: 100px;
    border: 2px solid black;
    border-radius: 12px;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    font-size: 40px;
    justify-content: flex-end;
    align-items: flex-end;
}
.equal{
    height: 70px;
    margin-top: 20px;
    background-color: rgb(87, 233, 87);
    font-size: 30px;
    color: white;
}
.option.upperCorner{
    background-color: #8b8b8b;
}
.clear{
    color: rgb(212, 71, 71);
}
.plus,.minus,.multiply,.divide{
    color: rgb(104, 192, 82);
}